*.cache
/Mouse Journey/.godot
/Mouse Journey/.godot
Mouse Journey/.godot/editor/editor_layout.cfg
Mouse Journey/.godot/editor/filesystem_cache10
Mouse Journey/.godot/editor/filesystem_update4
Mouse Journey/.godot/editor/level_1_romain.tscn-editstate-6ae3c779efb049b403e11700e688f9a1.cfg
/Mouse Journey/.godot
